<div class="avis-container">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
	  <div class="container-fluid" style="background-image: linear-gradient(180deg, white, rgb(213, 240, 214), white);" >
	    <a class="navbar-brand" href="https://www.instagram.com/tamilmusicofficial">AVIS</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="https://www.youtube.com/tamilmusicofficial">Tamilmusicofficial</a>
	        </li>
	      </ul>
	    </div>
		<div class="profileContainer">
			<img class="profile-img" (dragstart)="false;" alt="profile" src="assets/patchwork.png" width="30" height="30">
		</div>
	  </div>
	</nav>
    
	<div class="avis-body-container">
		<div class="avis-sidebar-container">
            <app-sidebar></app-sidebar>
        </div>
        <div class="avis-content-container">
            <app-homepage></app-homepage>
        </div>
	</div>
</div>
